:root {
  --accent-bg-color: #134954;
  --accent-fg-color: #ffffff;

  --window-bg-color: #18252B;
  --window-fg-color: #A3E5F0;

  --view-bg-color: #131E23;
  --view-fg-color: #A3E5F0;
}

/* GTK NAMED COLORS
   ----------------
   use responsibly! */
/* widget text/foreground color */
@define-color theme_fg_color #A3E5F0;
/* text color for entries, views and content in general */
@define-color theme_text_color #A3E5F0;
/* widget base background color */
@define-color theme_bg_color #18252B;
/* text widgets and the like base background color */
@define-color theme_base_color #121C1F;
/* base background color of selections */
@define-color theme_selected_bg_color rgba(19, 73, 84, 0.5);
/* text/foreground color of selections */
@define-color theme_selected_fg_color #A3E5F0;
/* base background color of disabled widgets */
@define-color insensitive_bg_color #141F24;
/* text foreground color of disabled widgets */
@define-color insensitive_fg_color #567B83;
/* disabled text widgets and the like base background color */
@define-color insensitive_base_color #121C1F;
/* widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #567B83;
/* text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #A3E5F0;
/* widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #18252B;
/* text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #131E22;
/* base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color rgba(19, 73, 84, 0.5);
/* text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #A3E5F0;
/* widgets main borders color */
@define-color borders rgba(14, 22, 25, 0.9);
/* widgets main borders color on backdrop windows */
@define-color unfocused_borders rgba(22, 33, 40, 0.91);
/* these are pretty self explicative */
@define-color warning_color #f57900;
@define-color error_color #cc3333;
@define-color success_color #134954;
@define-color fg_color #A3E5F0;
@define-color text_color #A3E5F0;
@define-color bg_color #18252B;
@define-color base_color #121C1F;
@define-color selected_bg_color rgba(19, 73, 84, 0.5);
@define-color selected_fg_color #A3E5F0;
@define-color unfocused_fg_color #567B83;
@define-color unfocused_text_color #A3E5F0;
@define-color unfocused_bg_color #18252B;
@define-color unfocused_base_color #131E22;
@define-color unfocused_selected_bg_color rgba(19, 73, 84, 0.5);
@define-color unfocused_selected_fg_color #A3E5F0;
@define-color wm_title shade(#A3E5F0, 1.8);
@define-color wm_unfocused_title #567B83;
@define-color wm_highlight rgba(0, 0, 0, 0);
@define-color wm_borders_edge rgba(255, 255, 255, 0.1);
@define-color wm_bg_a shade(#18252B, 1.2);
@define-color wm_bg_b #18252B;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);
@define-color wm_button_hover_color_a shade(#18252B, 1.3);
@define-color wm_button_hover_color_b #18252B;
@define-color wm_button_active_color_a shade(#18252B, 0.85);
@define-color wm_button_active_color_b shade(#18252B, 0.89);
@define-color wm_button_active_color_c shade(#18252B, 0.9);
@define-color content_view_bg #121C1F;
@define-color text_view_bg #121C1F;
@define-color budgie_tasklist_indicator_color rgba(19, 73, 84, 0.5);
@define-color budgie_tasklist_indicator_color_active rgba(19, 73, 84, 0.5);
@define-color placeholder_text_color #648E97;

@define-color STRAWBERRY_100 #ff8c82;
@define-color STRAWBERRY_300 #ed5353;
@define-color STRAWBERRY_500 #c6262e;
@define-color STRAWBERRY_700 #a10705;
@define-color STRAWBERRY_900 #7a0000;
@define-color ORANGE_100 #ffc27d;
@define-color ORANGE_300 #ffa154;
@define-color ORANGE_500 #f37329;
@define-color ORANGE_700 #cc3b02;
@define-color ORANGE_900 #a62100;
@define-color BANANA_100 #fff394;
@define-color BANANA_300 #ffe16b;
@define-color BANANA_500 #f9c440;
@define-color BANANA_700 #d48e15;
@define-color BANANA_900 #ad5f00;
@define-color LIME_100 #d1ff82;
@define-color LIME_300 #9bdb4d;
@define-color LIME_500 #45785F;
@define-color LIME_700 #3a9104;
@define-color LIME_900 #206b00;
@define-color MINT_100 #89ffdd;
@define-color MINT_300 #43d6b5;
@define-color MINT_500 #28bca3;
@define-color MINT_700 #0e9a83;
@define-color MINT_900 #007367;
@define-color BLUEBERRY_100 #8cd5ff;
@define-color BLUEBERRY_300 #64baff;
@define-color BLUEBERRY_500 #3689e6;
@define-color BLUEBERRY_700 #0d52bf;
@define-color BLUEBERRY_900 #002e99;
@define-color BUBBLEGUM_100 #fe9ab8;
@define-color BUBBLEGUM_300 #f4679d;
@define-color BUBBLEGUM_500 #de3e80;
@define-color BUBBLEGUM_700 #bc245d;
@define-color BUBBLEGUM_900 #910e38;
@define-color GRAPE_100 #e4c6fa;
@define-color GRAPE_300 #cd9ef7;
@define-color GRAPE_500 #a56de2;
@define-color GRAPE_700 #7239b3;
@define-color GRAPE_900 #452981;
@define-color COCOA_100 #a3907c;
@define-color COCOA_300 #8a715e;
@define-color COCOA_500 #715344;
@define-color COCOA_700 #57392d;
@define-color COCOA_900 #3d211b;
@define-color SILVER_100 #fafafa;
@define-color SILVER_300 #d4d4d4;
@define-color SILVER_500 #abacae;
@define-color SILVER_700 #7e8087;
@define-color SILVER_900 #555761;
@define-color SLATE_100 #95a3ab;
@define-color SLATE_300 #667885;
@define-color SLATE_500 #485a6c;
@define-color SLATE_700 #273445;
@define-color SLATE_900 #0e141f;
@define-color BLACK_100 #666;
@define-color BLACK_300 #4d4d4d;
@define-color BLACK_500 #333;
@define-color BLACK_700 #1a1a1a;
@define-color BLACK_900 #000;

* {
  padding: 0;
  outline-color: rgba(163, 229, 240, 0.3);
  outline-style: dashed;
  outline-offset: -3px;
  outline-width: 0px;
  -gtk-secondary-caret-color: rgba(19, 73, 84, 0.5); }

.action-bar, actionbar > revealer > box {
  background-color: #141F24;
  border: solid rgba(14, 22, 25, 0.9);
  border-width: 1px 0 0 0;
  color: #A3E5F0;
  box-shadow: none; }
  .action-bar:backdrop, actionbar > revealer > box:backdrop {
    background-color: #0D1417;
    box-shadow: none; }
  .action-bar:first-child, actionbar > revealer > box:first-child {
    border-radius: 6px 6px 0px 0px;
    border-width: 1px 1px 0px 1px; }
  .action-bar:last-child, actionbar > revealer > box:last-child {
    border-radius: 0 0 6px 6px;
    border-width: 0px 1px 1px 1px; }

.app-notification,
.app-notification.frame {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(19, 29, 34, 0.8);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 2px);
  background-clip: padding-box; }
  .app-notification:backdrop,
  .app-notification.frame:backdrop {
    background-image: none;
    transition: 200ms ease-out; }
  .app-notification border,
  .app-notification.frame border {
    border: none; }

toast {
  padding: 5px;
  background-color: #122226;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  color: #A3E5F0;
  border-radius: 5px; }
  toast:backdrop {
    background-image: none;
    transition: 200ms ease-out; }
  toast button {
    padding: 2px; }
  toast button.circular.flat.image-button {
    padding: 2px; }
    toast button.circular.flat.image-button:hover {
      color: #A3E5F0;
      outline-color: rgba(163, 229, 240, 0.3);
      background-color: #cc3333;
      text-shadow: none;
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1); }

.background {
  color: #A3E5F0;
  background-color: #18252B; }
  .background:backdrop {
    color: #567B83;
    background-color: #18252B;
    text-shadow: none;
    -gtk-icon-shadow: none; }
  .background.chromium {
    background-color: #1A2930; }

.gtkstyle-fallback {
  color: #A3E5F0;
  background-color: #18252B; }
  .gtkstyle-fallback:hover {
    color: #A3E5F0;
    background-color: #19272E; }
  .gtkstyle-fallback:active {
    color: #A3E5F0;
    background-color: #0D1417; }
  .gtkstyle-fallback:disabled {
    color: #567B83;
    background-color: #141F24; }
  .gtkstyle-fallback:selected {
    color: #A3E5F0;
    background-color: rgba(19, 73, 84, 0.5); }

.history-view,
.view,
iconview,
textview > text {
  color: #A3E5F0;
  background-color: #121C1F; }
  .history-view:backdrop,
  .view:backdrop,
  iconview:backdrop,
  textview > text:backdrop {
    color: #648E97;
    background-color: #131E22; }
  .history-view:selected:focus, .history-view:selected,
  .view:selected:focus,
  iconview:selected:focus,
  .view:selected,
  iconview:selected,
  textview > text:selected:focus,
  textview > text:selected {
    border-radius: 3px; }

textview > text {
  background-color: transparent; }

textview border {
  background-color: #152126; }

.rubberband,
rubberband,
flowbox rubberband,
.content-view rubberband,
columnview.view > rubberband,
treeview.view > rubberband {
  border: 1px solid rgba(17, 65, 75, 0.5);
  background-color: rgba(17, 65, 75, 0.2); }

flowbox flowboxchild {
  padding: 3px;
  border-radius: 3px; }
  flowbox flowboxchild:selected {
    outline-offset: -2px; }

gridview {
  padding: 10px; }
  gridview > child {
    padding: 7px; }
    gridview > child box {
      border-spacing: 5px; }

label {
  caret-color: currentColor; }
  label.separator {
    color: #A3E5F0; }
    label.separator:backdrop {
      color: #567B83; }
  label selection {
    background-color: rgba(19, 73, 84, 0.5);
    color: #A3E5F0; }
  label:disabled {
    color: #567B83; }
    label:disabled:backdrop {
      color: #121F23; }
  label:backdrop {
    color: #567B83; }

.dim-label, label.separator, .titlebar:not(headerbar) .subtitle,
headerbar .subtitle {
  opacity: 0.55;
  text-shadow: none; }

window.assistant .sidebar {
  background-color: #121C1F;
  border-top: 1px solid rgba(14, 22, 25, 0.9); }
  window.assistant .sidebar:backdrop {
    background-color: #131E22;
    border-color: rgba(22, 33, 40, 0.91); }
window.assistant.csd .sidebar {
  border-top-style: none; }
window.assistant .sidebar label {
  padding: 6px 12px; }
window.assistant .sidebar label.highlight {
  background-color: rgba(19, 73, 84, 0.5);
  color: #A3E5F0; }

window.aboutdialog image.large-icons {
  -gtk-icon-size: 128px; }

.app-notification,
.app-notification.frame, .osd .scale-popup, .osd popover.background > arrow,
.osd popover.background > contents, popover.background.touch-selection > arrow,
popover.background.touch-selection > contents, popover.background.magnifier > arrow,
popover.background.magnifier > contents, .osd {
  color: #9FDAE0;
  border: none;
  background-color: rgba(19, 29, 34, 0.8);
  background-clip: padding-box;
  outline-color: rgba(254, 254, 254, 0.3);
  text-shadow: 0 1px black;
  -gtk-icon-shadow: 0 1px black; }
  .app-notification:backdrop, .osd .scale-popup:backdrop, .osd popover.background > arrow:backdrop,
  .osd popover.background > contents:backdrop, popover.background.touch-selection > arrow:backdrop,
  popover.background.touch-selection > contents:backdrop, popover.background.magnifier > arrow:backdrop,
  popover.background.magnifier > contents:backdrop, .osd:backdrop {
    text-shadow: none;
    -gtk-icon-shadow: none; }

@keyframes needs_attention {
  from {
    background-image: radial-gradient(farthest-side, rgba(22, 87, 100, 0.5) 0%, rgba(22, 87, 100, 0) 0%); }
  to {
    background-image: radial-gradient(farthest-side, rgba(22, 87, 100, 0.5) 95%, rgba(22, 87, 100, 0)); } }

notebook > header > tabs > arrow,
button {
  min-height: 24px;
  min-width: 16px;
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-weight: normal;
  color: #A3E5F0;
  outline-color: rgba(163, 229, 240, 0.3);
  background-color: #121C1F;
  text-shadow: none;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1); }
  notebook > header > tabs > arrow,
  button.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: none; }
    notebook > header > tabs > arrow:hover,
    button.flat:hover {
      transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-duration: 500ms; }
  notebook > header > tabs > arrow:hover,
  button:hover {
    color: #A3E5F0;
    outline-color: rgba(163, 229, 240, 0.3);
    background-color: rgba(19, 73, 84, 0.5);
    text-shadow: none;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
    -gtk-icon-filter: brightness(1.2); }
  notebook > header > tabs > arrow:active, notebook > header > tabs > arrow:checked,
  button:active,
  button:checked {
    color: #A3E5F0;
    outline-color: rgba(163, 229, 240, 0.3);
    background-color: rgba(16, 62, 71, 0.5);
    text-shadow: none;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
    transition-duration: 50ms; }
  notebook > header > tabs > arrow:backdrop, notebook > header > tabs > arrow:backdrop,
  button:backdrop.flat,
  button:backdrop {
    color: #648E97;
    outline-color: rgba(163, 229, 240, 0.3);
    background-color: #131E22;
    text-shadow: none;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
    transition: 200ms ease-out;
    -gtk-icon-filter: none; }
    notebook > header > tabs > arrow:backdrop:active, notebook > header > tabs > arrow:backdrop:checked,
    button:backdrop:active,
    button:backdrop:checked {
      color: rgba(163, 229, 240, 0.7);
      background-color: rgba(19, 73, 84, 0.5); }
    notebook > header > tabs > arrow:backdrop:disabled,
    button:backdrop:disabled {
      color: #648E97;
      background-color: #141F24; }
  notebook > header > tabs > arrow:disabled,
  button:disabled {
    color: #648E97;
    outline-color: rgba(163, 229, 240, 0.3);
    background-color: #141F24;
    text-shadow: none;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1); }

button.suggested-action {
  font-weight: normal;
  color: white;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: #134954;
  text-shadow: none;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1); }
  button.suggested-action:hover {
    background-color: #134954;
    opacity: 0.85; }
  button.suggested-action:active, button.suggested-action:checked {
    background-color: #134954; }
  button.suggested-action:disabled {
    background-color: #134954;
    opacity: 0.75; }

button.destructive-action {
  font-weight: normal;
  color: white;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: #cc2222;
  text-shadow: none;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1); }
  button.destructive-action:hover {
    background-color: #cc2222;
    opacity: 0.85; }
  button.destructive-action:active, button.destructive-action:checked {
    background-color: #cc2222; }
  button.destructive-action:disabled {
    background-color: #cc2222;
    opacity: 0.75; }

row:selected button.flat:not(:active):not(:checked):not(:hover):not(disabled) {
  color: #A3E5F0;
  border-color: transparent; }

.toolbar > button,
.toolbar > :not(.linked) > button,
.toolbar :not(.linked) > menubutton > button,
.toolbar :not(.linked) > scalebutton > button,
.toolbar :not(.linked) > dropdown > button,
.toolbar :not(.linked) > colorbutton > button,
.toolbar :not(.linked) > fontbutton > button,
.toolbar :not(.linked) > appchooserbutton > button,
.toolbar :not(.linked) > combobox > box > button {
  margin: 1px;
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none; }
  .toolbar > button:hover, .toolbar > button:active, .toolbar > button:checked,
  .toolbar > :not(.linked) > button:hover,
  .toolbar > :not(.linked) > button:active,
  .toolbar > :not(.linked) > button:checked {
    color: #A3E5F0;
    outline-color: rgba(163, 229, 240, 0.3);
    background-color: #19272E;
    text-shadow: none;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1); }

modelbutton.flat,
.menuitem.button.flat {
  min-height: 26px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  outline-offset: -2px;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  -gtk-icon-shadow: none; }
  modelbutton.flat:hover,
  .menuitem.button.flat:hover {
    background-color: #17272E; }

calendar {
  color: #A3E5F0;
  border: 1px solid rgba(14, 22, 25, 0.9);
  font-feature-settings: "tnum"; }
  calendar > header {
    border-bottom: 1px solid rgba(14, 22, 25, 0.9); }
    calendar > header > button {
      border: none;
      box-shadow: none;
      background: none;
      border-radius: 0; }
  calendar > grid > label.today {
    box-shadow: inset 0px -2px rgba(19, 73, 84, 0.5); }
  calendar > grid > label.day-number {
    padding: 4px; }
    calendar > grid > label.day-number:selected {
      border-radius: 3px; }
  calendar > grid > label.day-number.other-month {
    color: alpha(currentColor,0.3); }

check {
  -gtk-icon-source: -gtk-scaled(url("../assets/checkbox-unchecked.png"), url("../assets/checkbox-unchecked@2.png"));
  -gtk-icon-shadow: none; }

radio {
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-unchecked.png"), url("../assets/radio-unchecked@2.png"));
  -gtk-icon-shadow: none; }

check:checked {
  -gtk-icon-source: -gtk-scaled(url("../assets/checkbox-checked.png"), url("../assets/checkbox-checked@2.png"));
  -gtk-icon-shadow: none; }

radio:checked {
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-checked.png"), url("../assets/radio-checked@2.png"));
  -gtk-icon-shadow: none; }

check:indeterminate {
  -gtk-icon-source: -gtk-scaled(url("../assets/checkbox-mixed.png"), url("../assets/checkbox-mixed@2.png"));
  -gtk-icon-shadow: none; }

checkbutton.text-button, radiobutton.text-button {
  padding: 2px 0;
  outline-offset: 0; }

check,
radio {
  margin: 0 4px;
  min-height: 16px;
  min-width: 16px;
  border: none; }

combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px; }

messagedialog, .messagedialog, .dialog {
  background-color: #121C1F;
  border-radius: 10px; }
  messagedialog .titlebar, .messagedialog .titlebar, .dialog .titlebar {
    min-height: 20px;
    background-image: none;
    background-color: rgba(27, 40, 48, 0.95);
    border-style: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }

spinbutton:not(.vertical), spinbutton.vertical > text, entry {
  min-height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid;
  border-radius: 3px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #A3E5F0;
  border-color: rgba(14, 22, 25, 0.9);
  background-color: #121C1F; }
  spinbutton:focus-within:not(.vertical), spinbutton.vertical > text:focus-within,
  entry:focus-within {
    border-color: rgba(17, 65, 75, 0.5);
    box-shadow: 0px 0px 1px 1px rgba(19, 73, 84, 0.5) inset; }
  spinbutton:disabled:not(.vertical), spinbutton.vertical > text:disabled,
  entry:disabled {
    color: #567B83;
    border-color: rgba(14, 22, 25, 0.9);
    background-color: #141F24;
    box-shadow: none; }
  spinbutton:backdrop:not(.vertical), spinbutton.vertical > text:backdrop,
  entry:backdrop {
    color: #648E97;
    border-color: rgba(22, 33, 40, 0.91);
    background-color: #131E22;
    box-shadow: none;
    transition: 200ms ease-out; }

expander {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
  expander:hover {
    color: white; }
  expander:checked {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

frame > border,
.frame {
  box-shadow: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 1px solid rgba(14, 22, 25, 0.9); }

scrolledwindow junction {
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(14, 22, 25, 0.9) 1px, transparent 1px) 0 0 0 1/0 1px stretch;
  background-color: #152126; }

separator {
  background: rgba(0, 0, 0, 0.1); }

list, listview {
  background-color: #121C1F;
  border-color: rgba(14, 22, 25, 0.9); }
  list, list label, listview, listview label {
    color: #A3E5F0; }
  list:backdrop, listview:backdrop {
    background-color: #131E22;
    border-color: rgba(22, 33, 40, 0.91); }

row.activatable.has-open-popup, row.activatable:hover {
  background-color: rgba(163, 229, 240, 0.05); }
row.activatable:selected.has-open-popup, row.activatable:selected:hover {
  background-color: rgba(19, 73, 84, 0.3); }
row.activatable:selected:backdrop {
  background-color: rgba(19, 73, 84, 0.4); }

.rich-list > row {
  padding: 8px 12px;
  min-height: 32px; }

menubar,
.menubar {
  background-color: #18252B;
  color: #A3E5F0;
  padding: 0px;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1); }
  menubar > item,
  .menubar > item {
    min-height: 16px;
    padding: 4px 8px; }
    menubar > item:hover, menubar > item:selected,
    .menubar > item:hover,
    .menubar > item:selected {
      box-shadow: inset 0 -3px rgba(19, 73, 84, 0.5); }
    menubar > item:disabled,
    .menubar > item:disabled {
      color: #567B83;
      box-shadow: none; }

menu, .menu, .context-menu {
  padding: 2px 0px;
  background-color: #111A1D;
  border: 1px solid rgba(14, 22, 25, 0.9);
  font: initial; }
  menu menuitem, .menu menuitem, .context-menu menuitem {
    min-height: 16px;
    min-width: 40px;
    padding: 4px 6px;
    text-shadow: none; }
    menu menuitem:hover, .menu menuitem:hover, .context-menu menuitem:hover {
      color: #A3E5F0;
      background-color: rgba(19, 73, 84, 0.5); }
    menu menuitem:disabled, .menu menuitem:disabled, .context-menu menuitem:disabled {
      color: #567B83; }

.content-view {
  background-color: #0F171B; }

notebook > header {
  padding: 1px;
  border-color: rgba(14, 22, 25, 0.9);
  border-width: 0px;
  background-color: #111A1E; }
  notebook > header.top {
    border-bottom-style: solid; }
    notebook > header.top > tabs > tab:checked {
      background-color: #18252B;
      box-shadow: inset 0 2px #134954; }
    notebook > header.top > tabs > tab:hover:not(:checked) {
      background-color: #142025; }
  notebook > header tab {
    min-height: 30px;
    min-width: 30px;
    padding: 3px 12px;
    background-color: #111A1E;
    color: #567B83;
    font-weight: bold;
    border-radius: 3px 3px 0 0; }
    notebook > header tab:checked {
      background-color: #18252B;
      color: #A3E5F0; }
    notebook > header tab:hover:not(:checked) {
      background-color: #142025;
      color: #648E97; }
notebook > stack:not(:only-child) {
  background-color: #121C1F; }

paned > separator {
  min-width: 1px;
  min-height: 1px;
  -gtk-icon-source: none;
  border-style: none;
  background-color: transparent;
  background-image: image(rgba(14, 22, 25, 0.9));
  background-size: 1px 1px; }

popover.background {
  background-color: transparent;
  font: initial; }
  popover.background > arrow,
  popover.background > contents {
    background-color: #111A1D;
    background-clip: padding-box;
    border: 1px solid rgba(14, 22, 25, 0.9);
    box-shadow: none;
    color: #A3E5F0; }
  popover.background > contents {
    padding: 8px;
    border-radius: 5px; }
    popover.background > contents separator {
      background-color: #122226;
      margin: 3px; }

popover.menu {
  padding: 0; }
  popover.menu > arrow, popover.menu.background > contents {
    background-color: #111A1D;
    color: #A3E5F0;
    padding: 5px; }
  popover.menu modelbutton {
    min-height: 30px;
    min-width: 40px;
    padding: 0 12px;
    border-radius: 5px; }
    popover.menu modelbutton:selected {
      color: #A3E5F0;
      background-color: #17272E; }

progressbar {
  font-size: smaller;
  color: rgba(163, 229, 240, 0.4); }

progressbar trough, scale trough, scale fill {
  background-color: rgba(140, 143, 171, 0.14);
  border: none;
  border-radius: 3px;
  margin: 0; }

progressbar progress, scale highlight {
  border: none;
  background-color: rgba(19, 73, 84, 0.5);
  border-radius: 3px;
  margin: 0; }

scale {
  min-height: 16px;
  min-width: 16px;
  padding: 8px; }
  scale slider {
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    background-color: #416C74;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    scale slider:active {
      background-color: #134954; }

scrollbar {
  background-color: #152126;
  transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  scrollbar.top { border-bottom: 1px solid rgba(14, 22, 25, 0.9); }
  scrollbar.bottom { border-top: 1px solid rgba(14, 22, 25, 0.9); }
  scrollbar.left { border-right: 1px solid rgba(14, 22, 25, 0.9); }
  scrollbar.right { border-left: 1px solid rgba(14, 22, 25, 0.9); }
  scrollbar:backdrop {
    background-color: #121B20;
    border-color: rgba(22, 33, 40, 0.91);
    transition: 200ms ease-out; }
  scrollbar slider {
    min-width: 6px;
    min-height: 6px;
    margin: -1px;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #496971; }
    scrollbar slider:hover {
      background-color: #72A1AB; }
    scrollbar slider:hover:active {
      background-color: rgba(22, 87, 100, 0.5); }
    scrollbar slider:backdrop {
      background-color: #14292F; }
    scrollbar slider:disabled {
      background-color: transparent; }
  scrollbar.horizontal slider { min-width: 40px; }
  scrollbar.vertical slider { min-height: 40px; }
  scrollbar button {
    padding: 0;
    min-width: 12px;
    min-height: 12px;
    border-style: none;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: #496971; }

.sidebar, placessidebar {
  border-style: none;
  border-width: 0;
  background-color: #152126; }
  .sidebar list, placessidebar list {
    background-color: #131E23; }
  .sidebar row, placessidebar row {
    padding: 8px 12px; }
    .sidebar row:selected, placessidebar row:selected {
      background: rgba(19, 73, 84, 0.1);
      color: #134954; }

spinbutton {
  font-feature-settings: "tnum"; }
  spinbutton:not(.vertical) {
    padding: 0;
    border-spacing: 0; }
  spinbutton.vertical:disabled {
    color: #567B83; }

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }
spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }
  spinner:checked {
    opacity: 1;
    animation: spin 1s linear infinite; }

switch {
  font-size: 1px;
  min-width: 45px;
  min-height: 27px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: -gtk-scaled(url("../assets/switch-off.svg"), url("../assets/switch-off.svg")); }
  switch:checked {
    background-image: -gtk-scaled(url("../assets/switch-on.svg"), url("../assets/switch-on.svg")); }

.toolbar, searchbar > revealer > box {
  padding: 4px;
  border-spacing: 4px;
  background-color: #18252B; }

tooltip {
  padding: 4px;
  border-radius: 5px;
  box-shadow: none;
  text-shadow: 0 1px black; }
  tooltip.background {
    background-color: #121C1F;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.1); }
  tooltip * {
    padding: 4px;
    background-color: transparent;
    color: white; }

columnview.view,
treeview.view {
  border-left-color: rgba(14, 22, 25, 0.9);
  border-top-color: rgba(14, 22, 25, 0.9); }
  columnview.view:selected:focus, columnview.view:selected,
  treeview.view:selected:focus,
  treeview.view:selected {
    border-radius: 0;
    outline-color: #cc3333; }
  columnview.view:disabled,
  treeview.view:disabled {
    color: #567B83; }
  columnview.view > header > button,
  treeview.view > header > button {
    color: #7CAFB8;
    background-color: #121C1F;
    font-weight: bold;
    text-shadow: none;
    box-shadow: none; }
    columnview.view > header > button:hover,
    treeview.view > header > button:hover {
      color: #92CDD8;
      box-shadow: none;
      transition: none; }
  columnview.view.progressbar,
  treeview.view.progressbar {
    border: 1px solid rgba(17, 65, 75, 0.5);
    border-radius: 4px;
    background-color: rgba(19, 73, 84, 0.5); }
  columnview.view.trough,
  treeview.view.trough {
    background-color: rgba(163, 229, 240, 0.1); }

columnview.view > header > button,
treeview.view > header > button, columnview.view > header > button:hover,
treeview.view > header > button:hover, columnview.view > header > button:active,
treeview.view > header > button:active {
  padding: 0 6px;
  background-image: none;
  border-style: none none solid solid;
  border-width: 1px;
  border-color: rgba(14, 22, 25, 0.9);
  border-radius: 0;
  text-shadow: none;
  box-shadow: none; }

window {
  border-width: 0px; }
  window.csd {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75);
    margin: 0px;
    border-radius: 4px 4px 0 0; }

.titlebar:not(headerbar), headerbar {
  padding: 0 6px;
  min-height: 34px;
  background-color: #18252B;
  color: #A3E5F0;
  border-radius: 0; }
  .titlebar:not(headerbar) .title,
  headerbar .title {
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px; }
  .titlebar:not(headerbar) button,
  headerbar button {
    color: #A3E5F0;
    background-color: transparent;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .titlebar:not(headerbar) button:hover,
    headerbar button:hover {
      color: #ABF0FC;
      background-color: #163139; }
headerbar button.image-button:hover,
headerbar button.text-button:hover {
  background-color: rgba(19, 73, 84, 0.7);
  color: #ABF0FC;
}
    .titlebar:not(headerbar) button:active, .titlebar:not(headerbar) button:checked,
    headerbar button:active,
    headerbar button:checked {
      color: #84BAC4;
      background-color: rgba(19, 73, 84, 0.1);
      border-radius: 7px;
      font-weight: bold; }
    .titlebar:not(headerbar) button.suggested-action,
    headerbar button.suggested-action {
      background-color: #134954;
      color: white;
      border-radius: 3px; }

.info, .warning, .question, .error,
infobar {
  text-shadow: none;
  color: #A3E5F0;
  background-color: #18252B;
  border-bottom: 1px solid #0D1417; }

levelbar > trough > block.low {
  border-color: #f57900;
  background-color: #f57900; }
levelbar > trough > block.high, levelbar > trough > block:not(.empty) {
  border-color: #45785F;
  background-color: #45785F; }
levelbar > trough > block.full {
  border-color: #134954;
  background-color: #134954; }
levelbar > trough > block.empty {
  background-color: #122226;
  border-color: #122226; }

*:link, button:link,
button:visited {
  color: #134954; }

.monospace {
  font-family: Monospace; }

.history-view:selected:focus, .history-view:selected,
.view:selected:focus,
iconview:selected:focus,
.view:selected,
iconview:selected,
textview > text:selected:focus,
textview > text:selected,
flowbox flowboxchild:selected,
modelbutton.flat:selected,
calendar > grid > label.day-number:selected,
entry selection:focus,
entry selection,
row:selected,
columnview.view:selected:focus, columnview.view:selected,
treeview.view:selected:focus,
treeview.view:selected {
  background-color: rgba(19, 73, 84, 0.5); }
  .history-view:selected:focus, .history-view:selected,
  .view:selected:focus,
  .view:selected,
  iconview:selected,
  row:selected,
  columnview.view:selected,
  treeview.view:selected {
    color: #A3E5F0;
    font-weight: normal; }


/* Force override libadwaita */
@define-color accent_bg_color #134954;
@define-color accent_fg_color #ffffff;

button,
button:active,
button:checked {
  background-image: none;
  background-color: #121C1F;
}

button.suggested-action {
  background-color: #134954;
}

button.destructive-action {
  background-color: #cc2222;
}

menubar > item:hover,
menubar > item:selected {
  color: #A3E5F0;
  background-color: transparent;
  box-shadow: inset 0 -3px rgba(19, 73, 84, 1.0);
}

menubar > item:checked {
  color: #A3E5F0;
  background-color: transparent;
  box-shadow: inset 0 -3px rgba(19, 73, 84, 1.0);
}

menubar > item,
menuitem,
modelbutton {
  -gtk-icon-filter: none;
}

tabbar {
  background-color: var(--window-bg-color);
}

tabbar tab {
  background-color: var(--view-bg-color);
  border-radius: 6px;
  color: var(--window-fg-color);
}

tabbar tab:selected {
  background-color: var(--window-bg-color);
  color: var(--window-fg-color);
}

tabbar tab:hover {
  background-color: #17292F;
}
